.ripples {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.red-ripple {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin-right: 0px;
}
.black-ripple {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  width: 100px;
  line-height: 100px;
  height: 100px;
}
