.first-container {
  background-size: 100% 100%;
  background-color: #cccccc;
  background-repeat: no-repeat;
  min-height: calc(100vh -100px);
  max-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

ul {
  list-style-type: none;
  margin-top: 40px;
  padding-left: 0%;
  text-align: center;
}

.ripples {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.red-ripple {
  margin-left: 250px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 65px;
  width: 100px;
  height: 65px;
}
.black-ripple {
  margin-left: 150px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  width: 100px;
  line-height: 65px;
  height: 65px;
}

#title-color {
  font-size: 50px;
  margin-bottom: 50px;
}

#choose-color {
  font-size: 30px;
}

#king {
  max-width: 400px;
  max-height: 500px;
  padding: 5px;
}
#queen {
  max-width: 400px;
  max-height: 500px;
  padding: 5px;
}
