<div class="first-container">
  <ul>
    <li><p id="title-color">Guess the color of the next card!</p></li>
    <li><p id="choose-color">Choose:</p></li>
    <li>
      <div class="ripples">
        <span
          (click)="btnClick(black)"
          class="black-ripple mat-elevation-z4"
          matRipple
          [matRippleCentered]="centered"
          [matRippleDisabled]="disabled"
          [matRippleUnbounded]="unbounded"
          [matRippleColor]="black"
          j
        >
          Black </span
        ><span
          (click)="btnClick(red)"
          class="red-ripple mat-elevation-z4"
          matRipple
          [matRippleCentered]="centered"
          [matRippleDisabled]="disabled"
          [matRippleUnbounded]="unbounded"
          [matRippleColor]="red"
        >
          Red
        </span>
      </div>
    </li>
    <li>
      <img id="king" src="/assets/Images/blackKing.jpg" /><img
        id="queen"
        src="/assets/Images/redQueen (1).jpg"
      />
    </li>
    <li></li>
  </ul>
</div>
