<div class="first-container">
  <p>Guess the color of the next card!</p>
  <p>Choose:</p>
  <div class="ripples">
    <span
      class="red-ripple"
      matRipple
      [matRippleCentered]="centered"
      [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded"
      [matRippleColor]="red"
    >
      Red
    </span>
    <span
      class="black-ripple"
      matRipple
      [matRippleCentered]="centered"
      [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded"
      [matRippleColor]="black"
      j
    >
      Black
    </span>
  </div>
</div>
