#dialogRestartBtn {
  height: 40px;
  border-radius: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.continueBtn {
  height: 40px;
  border-radius: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
}
